<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

# **_Objectives:_**
- List of Popular languages for Data Science
- Commonly used libraries by Data Scientist
- Data Science Tools

### Some popular languages that Data Scientist use are:
1. Python
2. Julia
3. Java
4. Scala
5. R

### Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. Numpy
3. Matplot
4. Plotly
5. Tensorflow

| Data Science Tools |
|--------|
| Apache DB |
| MongoDB |
| Ceph |
| MySQL |
| Apache Airflow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to multiply then add integers

(3*4)+5

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
# Roberto Otero